//configs
$enable-shadows: true;

$brand-background-color:#dfdfdf;
$brand-background-image:linear-gradient(to bottom, #dddbd1, #d2dbdc);

$brand-font-family:'Roboto', sans-serif;
$brand-color:#4b4b4b;

//shadows
$shadows-default: 0 1px 1px 0 rgba(0,0,0,0.06), 0 2px 5px 0 rgba(0,0,0,0.2);